* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; background-color: #61995e; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */